:root {
    --bg: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    --container-bg: rgba(255, 255, 255, 0.08);
    --text: #f5f5f5;
    --button-start: #00c6ff;
    --button-end: #0072ff;
}

/* TEMA CLARO */
.light {
    --bg: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    --container-bg: rgba(255, 255, 255, 0.9);
    --text: #1e1e1e;
    --button-start: #56ccf2;
    --button-end: #2f80ed;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
/* FUNDO */
body {
    background: var(--bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    transition: background 0.4s ease, color 0.4s ease;
}
/* CONTAINER CENTRAL */
.container {
    background: var(--container-bg);
    padding: 2rem;
    border-radius:12px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: background 0.4s ease;
}

.title {
    text-align: center;
    color: blueviolet;
    justify-content: center;
}

.p {
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

.h1, h2 {
    margin-bottom: 1rem;;
}

button {
    background: linear-gradient(135deg, var(--button-start), var(--buton-end));
    border: none;
    color: var(--text);
    padding: 0.8rem 1.2rem;
    margin: 0.4rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* RESULTADO */

.resultado {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

a{
    text-decoration: none;
}

/* MODO CAÓTICO */
.chaos {
    --bg: linear-gradient(45deg, 
    #ff0066,
    #ffcc00,
    #00ffcc,
    #6600ff
    );
    --container-bg: rgbs(0, 0, 0, 0.75);
    --text: #00ffcc;
    --button-start: #ff0066;
    --button-end: #ffcc00;
}

/* tremida leve */
@keyframes chaosShake {
    0% {transform: translate(0,0);}
    25% {transform: translate(-1px,-1px);}
    50% {transform: translate(-1px,-1px);}
    75% {transform: translate(-1px,-1px);}
    100% {transform: translate(0,0);}    
}

.chaos .container {
    animation: chaosShake 0.4s infinite;
}

/* botões pulsando */
@keyframes chaosPulse {
    0% {box-shadow: 0 0 5px #FF0066;}
    25% {box-shadow: 0 0 15px #FFcc00;}
    100% {box-shadow: 0 0 5px #FF0066;}
}

.chaos button {
    animation: chaosPulse 1s infinite;
}

/* cursor malicioso */
.chaos {
    cursor: crosshair;
}