<html xmlns="http://www.thymeleaf.org">
    <head> 

        <link rel="stylesheet" th:href="@{/style.css}">
    </head>
    <body>
        <div class="container">
            <h2 id="titulo" th:text="'Desafio ' + ${desafio.titulo}">Desafio</h2>
    
            <p id="pergunta" th:text="${desafio.pergunta}"> Pergunta </p>
    
            <form action="/desafio/submit" method="post">
                <input type="text" name="resposta" required>
                <button>Enviar</button>
                <button type="button" onclick="proximo()">🔄​</button>
            </form>
           

            <a href="/">
                    <button>Voltar ao início</button>
            </a>
        </div>
        <script th:src="@{/js/tema.js}"></script>
    </body>
</html>