<html xmlns="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/style.css}">
    <body>
        <div class="container">
            <h2 class="resultado">Resultado do desafio</h2>
    
            <p th:text="${resultado}"></p>
    
            <div>
                <a href="/desafio">
                    <button>Tentar novamente</button>
                </a>
    
    
                <a href="/">
                    <button>Voltar ao início</button>
                </a>
            </div>
        </div>
        <script th:src="@{/js/tema.js}"></script>
    </body>
</html>